{% extends 'base.html.twig' %}

{% block title %}Przychodnia rejonowa{% endblock %}

{% block body %}

    <div class="container">
        <h1>Lekarze</h1>
        <div class="clinics-container">

            {% for doctor in doctors %}
                <div class="clinic-card not-clickable">
                    <div class="clinic-item">
                        <h3>{{ doctor.name ~ ' ' ~ doctor.lastName }}</h3>
                        <p>Specjalizacja: {{ doctor.spec }}</p>
                    </div>
                </div>
            {% endfor %}         
          
    </div>
    </div>

{% endblock %}
