{% extends 'base.html.twig' %}

{% block title %}Przychodnia rejonowa{% endblock %}

{% block body %}

    <div class="container">
        <h1>Strona główna przychodni</h1>
    </div>

{% endblock %}
