{% extends 'admin_panel/index.html.twig' %}

{% block title %} Wizyty {% endblock %}

{% block content %}
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ include('admin_panel/visit/_filters.html.twig') }}
    {{ include('admin_panel/visit/_datatable.html.twig') }}
{% endblock content %}