{% extends 'base.html.twig' %}

{% block title %}Edit Specjalizacja{% endblock %}

{% block body %}
    <h1>Edit Specjalizacja</h1>

    {{ include('specjalizacja/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('specjalizacja_index') }}">back to list</a>

    {{ include('specjalizacja/_delete_form.html.twig') }}
{% endblock %}
