{% extends 'base.html.twig' %}

{% block title %}New Specjalizacja{% endblock %}

{% block body %}
    <h1>Create new Specjalizacja</h1>

    {{ include('specjalizacja/_form.html.twig') }}

    <a href="{{ path('specjalizacja_index') }}">back to list</a>
{% endblock %}
