/* ---------------- MAIN CONTAINER ----------------- */

.container {
    width: 90%;
    padding: .1em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    background: $white;
    padding: 2em;
    border-radius: .3em;
    box-sizing: border-box;
    @include mq {
        width: 60%;

        &.registration-form {
            width: 30%;
        }

        &.login-form {
            width: 30%;
        }

        &.form {
            width: 35%;
        }
        &.default {
            width: 100%;
        }
        &.admin {
            width: 99%;
        }
    }
}


  