/* ---------------- MAIN CONTAINER ----------------- */

.container {
    width: 90%;
    padding: .1em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    background: $white;
    padding: 2em;
    border-radius: .3em;
    box-sizing: border-box;
    @include mq {
        width: 60%;

        &.registration-form {
            width: 30%;
        }

        &.login-form {
            width: 30%;
        }

        &.form {
            width: 35%;
        }
        &.default {
            width: 100%;
        }
        &.admin {
            width: 99%;
        }
    }
}


.legend-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    .red-slot {
        padding: .5em;
        background-color: #ffb2b2;
    }

    .empty-slot {
        padding: .5em;
        border: 1px solid $grey;
        margin-left: 1em;
        background: #ffffff;
    }

    .chosen-slot {
        margin-left: 1em;
        padding: .5em;
        color: $white;
        background: red;
    }
}