{% extends('admin_panel/index.html.twig') %}

{% block content %}
    <div class="container">
        <h1>Edytuj użytkownika</h1>
        {{ include('admin_panel/users/_form.html.twig') }}
    </div>
{% endblock content %}