{% extends 'admin_panel/index.html.twig' %}



{% block content %}

    <h1>Poradnie</h1>
    {% for poradnia in poradnie %}
        {{ poradnia.id }}
        <a href="{{ path('admin.poradnia_show', {id: poradnia.id}) }}">{{ poradnia.nazwa }}</a>
    {% endfor %}

    <a href="{{ path('admin.poradnia_add') }}">Dodaj poradnie</a>

{% endblock content %}
