{% extends 'admin_panel/index.html.twig' %}


{% block content %}
    {% for label, messages in app.flashes(['success', 'fail']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="admin-boxes-title">
        <h2>Na skróty</h2>
    </div>
    <div class="admin-boxes-title">
        <h3>Zarządzaj przychodnią</h3>
    </div>
    <div class="admin-boxes">
        <div class="box-item">
            <h4>
                <a href="#">Dodaj lekarza</a>
            </h4>
        </div>
        <div class="box-item">
            <h4>
                <a href="#">Dodaj poradnie</a>
            </h4>
        </div>
        <div class="box-item">
            <h4>
                <a href="#">Dodaj jednostkę</a>
            </h4>
        </div>
        <div class="box-item">
            <h4>
                <a href="#">Dodaj lekarza</a>
            </h4>
        </div>
    </div>

    <div class="admin-boxes-title">
        <h3>Przeglądaj</h3>
    </div>
    <div class="admin-boxes">
        <div class="box-item">
            <h4>
                <a href="#">Wizyty</a>
            </h4>
        </div>
        <div class="box-item">
            <h4>
                <a href="#">Statystyki</a>
            </h4>
        </div>
        <div class="box-item">
            <h4>
                <a href="#">Pacjenci</a>
            </h4>
        </div>
        <div class="box-item">
            <h4>
                <a href="#">Lekarze</a>
            </h4>
        </div>
    </div>
{% endblock %}