{% extends 'base.html.twig' %}

{% block title %}Poradnie{% endblock %}

{% block body %}
    <h1>Poradnie</h1>
    {% for poradnia in poradnie %}
        {{ poradnia.id }}
        <a href="{{ path('admin.poradnia_show', {id: poradnia.id}) }}">{{ poradnia.nazwa }}</a>
    {% endfor %}

{% endblock %}
