$white: #FFFFFF;
$grey: #dddddd;
$light-grey: #f0f0f0;
$black: #353535;
$dark-grey: #5e5d5d;
$primary-color: #284B63;
$primary-color-dk: #1b3342;
$primary-color-lt: #d9dee3;
$secondary-color: #3C6E71;
$secondary-color-lt: #bccdcd;
$secondary-color-dk: #2d5355;
$red: #e40000;
$red-dk: #941809;
$light-red: #ffe3e3;
