<p>Zarejestrowałeś się w naszej przychodni jako {{ name }} {{ lastName }}.</p>
<p>Kliknij w podany niżej link aby dokończyć rejestrację i aktywować konto.</p>
<a href="{{ link }}">{{ link }}</a>







