<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Index{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <a href="{{ path('register') }}">Rejestracja</a>
    </header>
        {% block body %}{% endblock %}

    </body>
</html>
