.admin-boxes {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    @include mq {
        flex-direction: row;
    }
}

.box-item {
    text-decoration: none;
    padding: 2.5em 1em;
    background: $white;
    margin: 1em;
    border-radius: .3em;
    transition: background .25s;
    min-width: 250px;
    max-width: 250px;
    text-align: center;
    display: block;
    color: $black;
    font-weight: $fw-bold;
    font-size: 1.5rem;
    &:hover {
        background: $secondary-color-lt;
        cursor: pointer;
    }
}

.admin-boxes-title {
    margin: 1em;
}