  /* ------------------ CLINICS CONTAINER ---------- */

  .clinics-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    gap: 2em 2em;
    grid-template-areas: ".";
    
}

.clinic-card {
    background-color: #EAEAEA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: background 0.5s, border-color 0.5s, color 0.5s; 

    &:hover {
        background-color: #c9c9c9;
        cursor: pointer;
    }
    .clinic-item {
        padding: 15px 15px;
        h4, h3 {
            margin-bottom: .7em;
            margin-top: .5em;
        }
        ul {
            list-style-type: none;
            transition: 0.25s;

            &:hover {
                h4{
                    color: $primary-color-dk;
                }
            }
        }
    }

    &.not-clickable {
        font-weight: $fw-bold;
        color: $primary-color;
        transition: none; 
        &:hover {
            background-color: #EAEAEA;
            cursor: default;    
        }
    }
}
