/* ------------ FLASH MESSAGES ------------ */

.flash-success {
    padding: 20px;
    background-color: rgba(138, 255, 136, 0.68);
    color: black;
    margin-bottom: 15px;
    /*border-radius: 20px;*/
}

.flash-fail {
    padding: 20px;
    background-color: rgb(255, 156, 156);
    color: black;
    margin-bottom: 15px;
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

}

.flash-info{
    padding: .5em 1em;
    background: #d5e7ff;
    
}
