.form-item-col {
    margin-bottom: 1em;
    
    input, label {
        display:block;
    }

    label {
        margin-bottom: .3em;
    }
    input {
        width: 100%;
        box-sizing: border-box;
        background: $light-grey;
        border: 1px solid transparent;
        border-radius: .5em;
        padding: .8em;
        transition: background .25s, border .25s;

        @include mq {
            // width: 50%;
        }
        &:focus {
            background: $white;
            border: 1px solid  $primary-color;
        }
    }

    &.checkbox {
        label{ 
            display: inline-block;
            padding-left: .3em;
            text-indent: -.2em;
        }

        input {
            width: 13px;
            height: 13px;
            padding: 0;
            margin:0;
            top: -1px;
          }
    }
}

.form-item-radio {
    margin-bottom: 1em;
    input {
        margin-right: .3em;
    }
    label {
        margin-right: .5em;
    }
}

.form-subtitle {
    border-bottom: 1px solid $grey;
    margin-bottom: 1em;
    h3 {
        margin-bottom: .3em;
    }
}



.form-error {
    margin-top: 0;
    margin-bottom: 1em;
    color: red;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            font-size: .9rem;
        }
    }
}

@include mq {
    .form-item-row {
        .form-item-col {
            display: inline-block;
        }

    }
    .name {
        width: 50%;
    }

    .last-name {
        width: 49%;
    }

    .city {
        width: 65%;
    }

    .post-code {
        width: 34%;
    }
}
