.link {
    text-decoration: none;
    color: dodgerblue;
}
.link:hover {
    transition: 0.5s;
    color: darkblue;
}

.link-green {
    text-decoration: none;
    color: rgba(0, 116, 12, 0.68);
    transition: color 0.5s;
}
.link-green:hover {
    color: rgba(2, 54, 0, 0.68);
}

.link-btn {
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
    width: 200px;
    color: white;
    background: #1E90FF;
    border: 2px solid #1873cc;
    cursor: pointer;
    outline: none;
    transition: background 0.5s, border-color 0.5s, color 0.5s;
}

.link-btn:hover{
    background: #1873cc;
}
