
table {
    margin-bottom: 1em;
}

.table-div {
    overflow-x: auto;

}

.admin-table {
    border-collapse: collapse;
    width: 100%;
}

.admin-table th {
    padding: 1em;
    text-align: left;

    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

.admin-table tr:hover {
    background-color: #f5f5f5;
    transition: background 0.25s, border-color 0.5s, color 0.25s;

}

.admin-table td {
    padding: 1em;
    border-bottom: 1px solid #ddd;

}


.admin-table td a {
    display: block;
    text-decoration: none;
    color: $black;
}

.admin-table {
    a {
        display: inline-block;
    }
    .delete {
        color: $red;    
        transition: color .25s;

        &:hover {
            color: $red-dk;
        }
    }

    .assign {
        color: $primary-color;
        transition: color .25s;

        &:hover {
            color: $primary-color-dk;
        }
    }
}

.admin-table .add {
    color: $primary-color;
}

.admin-table tr:hover a.link-blue {
    color:$primary-color;
    transition: background 0.25s, border-color 0.5s, color 0.25s;
}




/* ---------- PROFILE TABLE -------------- */

.profile-table {
    border-collapse: collapse;
    width: 100%;
}

.profile-table th {
    padding: 1em;
    text-align: left;

    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    transition: background 0.25s, border-color 0.5s, color 0.25s;
}

.profile-table tr:hover {
    background-color: #f5f5f5;
}

.profile-table td {
    padding: 1em;
    border-bottom: 1px solid #ddd;
}


.profile-table .delete {
    color: red;
}

.profile-table .add {
    color: dodgerblue;
    transition: background 0.25s, border-color 0.5s, color 0.25s;
}

.profile-table tr:hover a.link-blue {

    color: dodgerblue;
}

